.listContainer {
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(183, 183, 228);
    overflow-y: auto;
    height: 80%; 
    width: 80%;
    padding: 0.5rem;
    padding-left: 1.8rem;
    margin: 1rem;
    background-color: white;
   
}

.listContainer li::marker {
    font-size:90%;
}