.listElement, .listElement input[type="text"]{
    height: 1.4rem;
    line-height: 1.4rem;
    margin: 0.1rem;
    font-size: 1rem;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listElement{
    padding-left: 0.2rem;
    margin: 0.2rem;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listElement input[type="text"]{
    all: unset;
}

.editOptions{
    display: flex;
    flex-direction: row;
    align-content: center; 
}

.taskCompleted{
    background-color: rgb(151, 236, 151);
}

.taskCompletedText{
    text-decoration: line-through;
}

